@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #000;
$secondary_color: #e35d0d;
$background: #e6e6e6;
$border: #c4c4c4;

$max_width: 1300px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Myriad Pro Regular';
	src: url(fonts/MyriadPro-Regular.otf);
}

@font-face {
	font-family: 'Myriad Pro Light';
	src: url(fonts/MyriadPro-Light.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* General */

.joinchat {
	bottom: 100px !important;
}

/* Top 1 */

.top_1 {
	padding: 5px 0;
	background-color: $background;
	font: {
		family: 'Myriad Pro Regular';
		size: 16px;
	}
	p {
		margin: 0;
	}
	a {
		color: $primary_color;
	}
	.moduletable_to11 {
		.hollow.button {
			margin: 0;
			padding: 10px;
			border-color: $secondary_color;
			font: {
				size: 16px;
				weight: bold;
			}
			color: $secondary_color;
		}
	}
}

/* Top 2 */

.top_2 {
	padding: 20px 0;
	.moduletable_to21 {
		#a {
			a {
				margin: 0 10px;
				display: inline-block;
			}
		}
		#b {
			img {
				max-width: 280px;
			}
		}
		#c {
			.woocommerce-product-search {
				input[type=search] {
					max-width: 250px;
					height: inherit;
					margin: 0;
					padding: 0;
					border: 0;
					border-bottom: 1px solid $primary_color;
					border-radius: 0;
					box-shadow: none;
					float: left;
					position: relative;
				}
				[type=submit] {
					width: 24px;
					height: 24px;
					background: {
						image: url(moduletable_to21_b_button_bg.png);
						position: center;
						repeat: no-repeat;
					}
					font-size: 0;
					float: left;
					position: relative;
				}
			}
		}
		#d {
			.menu-cart-menu-container {
				ul.menu {
					li {
						display: contents;
						a {
							width: 100%;
							padding: 5px;
							font-size: 12px;
							color: $primary_color;
							text-align: center;
							display: block;
							i {
								margin-bottom: 5px;
								font-size: 22px;
								display: block !important;
							}
							.cartcontents {
								margin-bottom: 5px;
								/*display: none !important;*/
								display: block !important;
							}
							.amount {
								display: block !important;
								/*&:before {
									display: none;
								}*/
							}
						}
					}
				}
			}
		}
	}
}

/* Top 3 */

.top_3 {
	.moduletable_to31 {
		padding: 10px 0;
		background-color: $primary_color;
		font-family: 'Myriad Pro Regular';
	}
}

/* Banner */

.banner {
	/*background: linear-gradient(transparent 50%, $background 50%);*/
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 40px 0;
	color: #555;
	h1 {
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid $border;
		font-size: 34px;
		color: $secondary_color;
		text-transform: uppercase;
		&.special {
			width: fit-content;
			margin: auto;
			border: 1px solid $secondary_color;
			font-size: 24px;
			color: $secondary_color;
		}
	}
	.shock {
		font-weight: bold;
		color: $secondary_color;
	}
	.asterisk {
		color: red;
	}
	a {
		&.hollow.button {
			margin: 0;
			border-color: $secondary_color;
			border-radius: 0;
			color: $secondary_color;
		}
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	.moduletable_le1 {
		h3 {
			margin: 0;
			background-color: $secondary_color;
			font-size: 30px;
			color: #fff;
		}
		.bellows {
			margin: 0;
			padding: 10px;
			background-color: transparent !important;
			border: 1px solid $border;
			box-shadow: none;
			ul {
				li {
					&.bellows-current_page_item {
						a {
							background-color: transparent !important;
							color: $secondary_color !important;
						}
					}
					&.bellows-menu-item-has-children.bellows-active {
						a {
							&.bellows-target {
								background-color: transparent !important;
								color: $secondary_color !important;
							}
						}
					}
					a {
						margin: 0;
						padding: 10px;
						font-size: 14px;
						color: $primary_color !important;
						text-transform: uppercase;
						&:hover {
							background-color: transparent !important;
							color: $secondary_color !important;
						}
						span.bellows-subtoggle {
							width: 50px;
							background: transparent !important;
							color: $secondary_color;
						}
					}
					ul {
						border: 0;
						li {
							a {
								text-transform: initial;
							}
						}
					}
				}
			}
		}
	}
	.woocommerce {
		ul.products {
			li,
			li.product-category {
				margin-bottom: 10px;
				border: 1px solid $border;
				.count {
					display: none;
				}
				a,
				a.woocommerce-LoopProduct-link {
					text-align: center;
					display: block;
					.thumbnail-loop {
						min-height: 200px;
						margin: 0;
						padding: 0;
						border-bottom: 1px solid $border;
						img {
							margin: 0;
						}
					}
h2.woocommerce-loop-category__title,
h2.woocommerce-loop-product__title {
width: 100%;
padding: 10px 0 !important;
font-size: 14px;
color: $primary_color;
text: {
align: center;
transform: uppercase;
}
}
}
				.price {
					color: $primary_color;
				}
				.button.product_type_simple {
					margin: 0;
					padding: 10px 0;
					background-color: transparent;
					color: $secondary_color;
				}
}
}
.product {
.images {}
.summary {
padding: 100px 0 0 0;
.product_title {
font-size: 22px;
}
}
}
a,
button {
&.button {
background-color: $secondary_color;
border-radius: 0;
color: #fff;
&:hover {
background-color: $secondary_color;
color: #fff;
}
}
}
}
&.full-width {
padding: 0 0 40px 0;
.max {
max-width: $max_width;
margin: auto;
}
}
}

.bellows.bellows-skin-blue-material .bellows-nav .bellows-item-level-0.bellows-current-menu-item > .bellows-target,
.bellows.bellows-skin-blue-material .bellows-nav .bellows-item-level-0.bellows-current-menu-ancestor > .bellows-target {
	background-color: transparent !important;
}

/* Block 1 */

.block_1 {
	padding: 60px 0 30px 0;
	/*background: linear-gradient($background 50%, transparent 50%);*/
	.moduletable_b11 {
		padding: 20px 0;
		/*background-color: $primary-color;*/
		font: {
			family: 'Myriad Pro Light';
			size: 18px;
		}
		a {
			color: $primary_color;
		}
	}
}

/* Block 2 */

.block_2 {
	padding-bottom: 30px;
	.moduletable_b21 {
		h3 {
			margin: 0;
			font: {
				family: 'Myriad Pro Regular';
				size: 26px;
			}
		}
		.owl-item {
			border: 1px solid $border;
			figure {
				text-align: center;
				figcaption {
					.pro_price_area {
						color: $primary_color;
					}
					.wpb_cart_button {
						.button {
							background-color: $secondary_color;
						}
					}
				}
			}
		}
		.owl-nav {
			display: none;
		}
	}
}

/* Block 3 */

.block_3 {
	.moduletable_b31 {
		h3 {
			margin: 0;
			font: {
				family: 'Myriad Pro Regular';
				size: 26px;
			}
		}
		p {
			margin: 0;
		}
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	.moduletable_b41 {
		#a {
			h3 {
				margin: 0;
				font: {
					family: 'Myriad Pro Regular';
					size: 26px;
				}
			}
		}
		#b {
			font: {
				family: 'Myriad Pro Light';
				size: 26px;
			}
			p {
				margin: 0;
			}
		}
		#c {
			.tnp-widget-minimal {
				text-align: center;
			}
			.tnp-email {
				padding: 0;
				background: {
					color: transparent;
					image: url(moduletable_b41_c_input_bg.png);
					position: right;
					repeat: no-repeat;
				}
				border: 0;
				border-bottom: 1px solid $primary_color;
				border-radius: 0;
				box-shadow: none;
			}
			.tnp-submit {
				max-width: 300px;
				background-color: $secondary_color;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: $primary_color;
	.moduletable_bo1 {
		font: {
			family: 'Myriad Pro Light';
			size: 20px;
		}
		color: #fff;
		h4 {
			font-size: 18px;
			a {
				color: #fff;
			}
		}
		ul {
			margin: 0;
			list-style: none;
		}
		a {
			color: #fff;
			&.hollow.button {
				margin: 0;
				border-color: $secondary_color;
				border-radius: 0;
				color: $secondary_color;
			}
		}
		#b {
			padding: 0 30px;
			border: {
				left: 1px solid #fff;
				right: 1px solid #fff;
			}
		}
		#c {
			a {
				&.social_media {
					margin-right: 10px;
					display: inline-block;
				}
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $background;
	font: {
		family: 'Myriad Pro Regular';
		size: 16px;
	}
	color: $primary_color;
	a {
		color: $primary_color;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top 2 */

	.top_2 {
		padding: 10px 0;
		.moduletable_to21 {
			#a {
				text-align: center;
				p {
					margin: 0;
				}
				a {
					img	 {
						width: 20px;
					}
				}
			}
			#b {
				p {
					margin: 0;
					img {
						width: 200px;
					}
				}
			}
			#c {
				/*display: none;*/
			}
			#d {
				/*display: none;*/
			}
			.panel-grid-cell {
				margin-bottom: 10px !important;
			}
			#pgc-w5dfba547ebd04-0-1.panel-grid-cell {
				margin-bottom: 0 !important;
			}
			#pgc-w5dfba547ebd04-0-2,
			#pgc-w5dfba547ebd04-0-3 {
				display: none;
			}
		}
	}

	/* Top 3 */

	.top_3 {
		.moduletable_to31 {
			padding: 0;
		}
	}

	/* Block 1 */

	.block_1 {
		padding: 30px 0;
		.moduletable_b11 {
			padding: 0;
			img {
				max-width: 100px;
			}
			.panel-grid-cell {
				margin-bottom: 10px !important;
			}
		}
	}

	/* Bottom */

	.bottom {
		.moduletable_bo1 {
			#a {
				p {
					text-align: center !important;
				}
			}
			#b {
				text-align: center;
				border: {
					left: 0;
					right: 0;
				}
			}
			#c {
				text-align: center;
				a {
					&.social_media {
						margin-right: 0 10px;
					}
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}